.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.child {
  min-width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.row {
  display: flex;
  margin-bottom: 10px;
}
.indicator {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #808080;
  margin-left: 4px;
  cursor: pointer;
}
.active {
  width: 8px;
  height: 8px;
  background-color: #0099ff;
}
